.mrq-lastfm {
  position: relative;
  overflow: hidden;
  color: black;
  display: flex;
  justify-content: center;
  width: 100vw;
  box-sizing: border-box;
  font-family: 'Bebas Neue', sans-serif;

  --background: url('/assets/story-background-dark.webp');
  --footer-logo: url('/assets/marquinhos-dark.webp');
  --text-background: rgba(0, 0, 0, 0.75);
  --font-color: white;

  &-light {
    --font-color: black;
    --footer-logo: url('/assets/marquinhos-light.webp');
    --background: url('/assets/story-background-light.webp');
    --text-background: rgba(255, 255, 255, 0.75);
  }

  .root {
    display: flex;
    padding-top: 250px;
    align-items: center;
    flex-direction: column;
    color: var(--font-color);
    min-width: 1080px;
    max-width: 1080px;
    min-height: 1920px;
    max-height: 1920px;
    gap: 40px;
    background-image: var(--background);
  }

  .hidden-preview {
    max-width: 0px;
    max-height: 0px;
    overflow: scroll;
    position: absolute;
    bottom: 0;
    right: 0;
  }

  .preview {
    max-width: 432px;
    width: 100%;
    object-fit: scale-down;

    &-container {
      padding: 24px;
    }
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 60px;
  }

  .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    padding-right: 0;
    height: 100%;
  }

  .body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
  }

  .name {
    font-size: 60px;
    letter-spacing: 2px;
  }

  .category {
    font-size: 45px;
    letter-spacing: 6px;
  }

  .period {
    font-size: 30px;
    letter-spacing: 10px;
  }

  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: fit-content;
    padding: 2px;
    gap: 12px;

    .logo {
      height: 29px;
      width: 36px;
      background-image: var(--footer-logo);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: top;
    }

    .note {
      font-size: 30px;
      max-width: 294px;
      min-width: 294px;
      max-height: 30px;
      min-height: 30px;
      letter-spacing: 3px;
      text-align: center;
      line-height: 34px;
    }
  }
}
