<div class="hidden-preview">
  <div #lastfm class="root">
    <div class="header">
      <div class="info">
        <div class="name">{{ username }}</div>
        <div class="category">TOP {{ category }}</div>
        <div class="period">{{ period }}</div>
      </div>
      <div class="first-image-container">
        <story-card
          [name]="firstImage.name"
          [url]="firstImage.url"
          [position]="1"
          [width]="450"
          [height]="450"
          [transparentBorder]="transparentBorder"
        >
        </story-card>
      </div>
    </div>
    <div class="body">
      <story-card
        *ngFor="let item of imagesDetails; index as idx"
        [name]="item.name"
        [url]="item.url"
        [position]="idx + 2"
        [width]="300"
        [height]="300"
        [transparentBorder]="transparentBorder"
      >
      </story-card>
    </div>
    <div class="footer">
      <div class="note">Created by Marquinhos</div>
      <div class="logo"></div>
    </div>
  </div>
</div>

<div class="preview-container">
  <img class="preview" [src]="previewImageURL" alt="Preview" />
</div>
