.app-sidebar {
  --animation-duration: 0.3s;
  position: sticky;
  top: 0;
  left: 0;
  height: 100dvh;
  color: var(--accent-color);
  background-color: var(--secondary-background-color);
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.12);
  z-index: 10;
  max-width: 240px;
  min-width: 240px;
  height: 100dvh;
  border-top-right-radius: 32px;
  padding: 36px 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  z-index: 10;
  transition:
    min-width var(--animation-duration) ease-in-out,
    max-width var(--animation-duration) ease-in-out,
    left var(--animation-duration) ease-in-out,
    padding var(--animation-duration) ease-in-out;

  .sidebar-logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
    width: 100%;
    height: 44px;
    overflow: hidden;
    transition: width var(--animation-duration) ease-in-out;
    font-size: 20px;
    font-weight: 600;
  }

  .sidebar-menu {
    display: flex;
    flex-grow: 1;
    width: 100%;

    ul {
      display: flex;
      flex-direction: column;
      list-style: none;
      margin: 0;
      padding: 0;
      gap: 16px;
      width: 100%;

      li {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: row;
        gap: 8px;
        width: 100%;
        padding: 12px 20px;
        border-radius: 12px;
        transition-timing-function: ease-in-out;
        transition:
          width var(--animation-duration),
          padding var(--animation-duration);

        img {
          object-fit: none;
          object-position: center;
          fill: white;
        }

        span {
          overflow: hidden;
          font-weight: 500;
          width: 100%;
          transition: width var(--animation-duration) ease-in-out;
        }

        &:hover:not(.selected) {
          cursor: pointer;
          background-color: var(--primary-color);
        }

        &.selected {
          color: var(--primary-color);
          background-color: var(--secondary-color);
        }
      }

      li:last-child {
        margin-top: auto;
      }
    }
  }

  &.app-sidebar-collapsed {
    max-width: 80px;
    min-width: 80px;
    padding: 36px 16px;

    .sidebar-logo {
      width: 0;
    }

    .sidebar-menu {
      ul {
        li {
          width: 48px;
          padding: 12px;

          span {
            width: 0;
          }
        }
      }
    }

    .sidebar-control {
      transform: rotate(180deg);
      right: 20px;
    }
  }

  .sidebar-control {
    position: absolute;
    display: flex;
    padding: 8px;
    top: 36px;
    right: 14px;
    border-radius: 50%;
    transition:
      transform var(--animation-duration) ease-in-out,
      top var(--animation-duration) ease-in-out,
      right var(--animation-duration) ease-in-out;

    :hover {
      cursor: pointer;
    }

    img {
      width: 24px;
      height: 24px;
    }
  }

  @media screen and (max-width: 768px) {
    position: fixed;
    padding: 16px;
    gap: 16px;

    .sidebar-control {
      top: 16px;
    }

    &.app-sidebar-collapsed {
      left: -80px;

      .sidebar-control {
        background-color: var(--secondary-background-color);
        box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.12);
        right: -56px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100dvw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 5;
  }
}
