@import './reset-styles.scss';

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: 'Nunito', sans-serif;

  // Set the variables for the theme
  --primary-color: #d6d6fe;
  --secondary-color: #1e1e3d;
  --accent-color: #e4e4fc;
  --primary-background-color: #e3e3e6;
  --secondary-background-color: #fafaf9;
  --text-color: #111139;

  background-color: var(--primary-background-color);
  color: var(--text-color);
}

.profile-menu-container {
  margin-top: 1rem;
}

* {
  box-sizing: border-box;
}

[scrollState] {
  overflow: scroll;
  transition: box-shadow 125ms ease-in-out;

  $topShadow: inset 0px 6px 6px -5px #88888881;
  $topShadowTransparent: inset 0px 6px 6px -5px transparent;
  $bottomShadow: inset 0px -6px 6px -5px #88888881;
  $bottomShadowTransparent: inset 0px -6px 6px -5px transparent;

  &.can-scroll-up {
    box-shadow: $topShadow, $bottomShadowTransparent;
  }

  &.can-scroll-down {
    box-shadow: $topShadowTransparent, $bottomShadow;
  }

  &.can-scroll-up.can-scroll-down {
    box-shadow: $topShadow, $bottomShadow;
  }
}

.section {
  background-color: #2f3136;
  padding: 3rem;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
}

.section-name {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

@media (max-width: 768px) {
  .section {
    padding: 1rem;
  }

  .section-name {
    font-size: 1.5rem;
  }
}
